<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sampleconstrainlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleConstrainLayout">
        <activity android:name=".ActivityLihatData"
            android:label="@string/labe3"
            android:parentActivityName=".Activity_Home"></activity>
        <activity
            android:name=".Activity_Home"
            android:label="@string/labe2"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".DaftarActivity"
            android:label="@string/label3"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/label1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/label2"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>